.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer__items {
  height: 50px;
}
.cerouno_logo {
  width: 196px;
}
.footer__social-media {
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__social-media a {
  width: 35px;
  height: 35px;
  background-color: #e7e7e8;
  border-radius: 50%;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
.instagram {
  color: #969BAB;
}
.footer span {
  height: 50px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .footer {
    justify-content: center;
    flex-direction: row;
  }
  .cerouno_logo {
    margin-left: 20px;
  }
  .footer span {
    height: 0;
    width: 300px;
    vertical-align: baseline;
  }
  .footer__social-media {
    height: 50px;
    padding: 20px;
    width: 400px;
  }
}