* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  height: 96px;
  width: 196px;
}
.header__items {
  display: none;
  width: 100%;

}
.header__items.show {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #d1d1d1;
  border-radius: 10px;
  height: 100vh;
  width: 70%;
  position: absolute;
  top: 0;
}
.header__items-li {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin: 10px;
  padding: 10px;
}
.header__items-li button {
  background-color: transparent;
  border: none;
  color: #000;
  text-decoration: none;
  font-size: 25px;
}
.header__items-li a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin-left: 120px;
}
.menu-btn__burger {
  width: 35px;
  height: 3px;
  background: #272727;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .3s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 3px;
  background: #272727;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(30px, -30px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(30px, 30px);
}

@media screen and (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
  }
  .header__logo img {
    margin-left: 70px;
    cursor: pointer;
  }
  .menu-btn {
    display: none;
  }
  .header__items {
    /* margin-right: 90px; */
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
  }
  .header__items-li {
    list-style: none;
  }
  .header__items-li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    width: 60px;
    font-size: 14px;
    line-height: 20px;
  }
  .header__items-li button {
    background-color: #F90F11;
    align-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .header__btn {
    background-color: #F90F11;
    width: 90px;
    height: 40px;
    border-radius: 6px;
    border: none;
  }
  .header__btn a {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  /* .header__btn:hover {
    background-color: #fa725a;
  } */
}